body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

#navbar-header {
  background-color: #1b2943;
  height: 73px;
}

#knowit-logo {
  display: inline-block;
  position: relative;
  left: 15px;
  top: -6px;
}

#knowit-logo-text {
  color: #b1b1b1;
  font-family: 'Domine', serif;
  position: relative;
  left: -69px;
}
